*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: green;
    color: red;
    padding: 10px;
    margin: 20px auto;
    height: 70%;
}

.einstein{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.qeu{
    margin-left: 20px; 
}
.qeu h3{
    margin:10px 0px 0px 20px;
}
