*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: green;
    color: red;
    padding: 10px;
    margin: 20px auto;
    height: 70%;
}

.einstein{
    display: flex;
    flex: 1;
}